header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  h2 {
    margin-bottom: 0;
  }
}

mat-card {
  margin-top: 2rem;

  mat-chip {
    cursor: pointer;
  }
}

mat-spinner {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
