<!--button mat-button (click)="openDialog()">Open dialog</button-->
<header *ngIf="selectedTag">
  <h2># {{ selectedTag }}</h2>
  <button mat-button (click)="getPosts()"><mat-icon>home</mat-icon> Ver todos los posts</button>
</header>

<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading">
  <mat-card class="example-card" *ngFor="let post of posts">
    <mat-card-header>
      <img mat-card-avatar [src]="post.owner.picture" [alt]="post.owner.firstName">
      <mat-card-title (click)="openUserDialog(post.owner.id)">{{ post.owner.firstName }} {{ post.owner.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ post.publishDate | date }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.image" alt="Imagen del post">
    <mat-card-content>
      <p>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of post.tags" (click)="getPostsByTag(tag)">#{{ tag }}</mat-chip>
        </mat-chip-list>
      </p>
      <p>
        {{ post.text }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button [matBadge]="post.likes">
          <mat-icon>thumb_up</mat-icon> Likes
        </button>
        <button mat-raised-button [matBadge]="post.numComments" (click)="openCommentsDialog(post)" [disabled]="post.numComments == 0">
          <mat-icon>mode_comment</mat-icon> Comentarios
        </button>
      </div>
      <a mat-raised-button color="accent" [href]="post.link" target="_blank" *ngIf="post.link">
        <mat-icon>link</mat-icon> Enlace
      </a>
    </mat-card-actions>
  </mat-card>
</div>
