<!--style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style-->

<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-icon>pets</mat-icon>
  <span>Pets</span>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
