<mat-list>
  <mat-list-item *ngFor="let comment of comments">
    <img [src]="comment.owner.picture" alt="avatar">
    <div>
      <div mat-line>{{ comment.owner.firstName }} {{ comment.owner.firstName }}</div>
      <div mat-line> {{ comment.message }} </div>
    </div>
  </mat-list-item>
</mat-list>
